@import "../../../../../../styles/colors";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

:host(.selected) {
  background-color: $tertiary-color;
  border: 1px solid $secondary-color;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

:host(:hover) {
  background-color: rgba($secondary-color, 0.2);
}

.friend-tile-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 12px;
  position: relative;

  p {
    margin: 0;
  }
}

.unread-badge {
  width: 12px;
  height: 12px;
  background-color: #ff6666;
  border-radius: 50%;
  border: 2px solid $background-color;
  flex-shrink: 0;
}
